*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-family: "outfit", sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
}
.presentation{
    background-color: hsl(216, 50%, 16%);
    padding: 15px;
    border-radius: 25px;
    width: 20%;
    text-align: center;
}
.img{
    border-radius: 25px;
    width: 100%;
    width: 300px;
}
